body {
	max-width: 550px;
	font-family: Arial;
}

#frmContact {
	border-top: #a2d0c8 2px solid;
	background: #e0f7f3;
	padding: 25px;
	width: 270px;
}

#frmContact .field-row {
	margin-bottom: 20px;
}

#frmContact div label {
	margin: 5px 0px 0px 5px;
	color: #49615d;
}

.demoInputBox {
	padding: 10px;
	border: #a5d2ca 1px solid;
	border-radius: 4px;
	background-color: #FFF;
	width: 100%;
	margin-top: 5px;
}

.demoSelectBox {
	padding: 10px;
	border: #a5d2ca 1px solid;
	border-radius: 4px;
	background-color: #FFF;
	margin-top: 5px;
}

select.demoSelectBox {
	height: 35px;
	margin-right: 10px;
}

.btnAction {
	background-color: #82a9a2;
	padding: 10px 40px;
	color: #FFF;
	border: #739690 1px solid;
	border-radius: 4px;
	cursor:pointer;
}

.btnAction:focus {
	outline: none;
}

.column-right {
	margin-right: 6px;
}

.contact-row {
	display: inline-block;
}

.cvv-input {
	width: 60px;
}

#error-message {
	margin: 20px 0px 0px;
	background: #ffd6d6;
	padding: 10px;
	border-radius: 4px;
	line-height: 25px;
	font-size: 0.9em;
	color: #907575;
	display:none;
}

#response-container {
	padding: 40px 20px;
    width: 270px;
    text-align:center;
}

.ack-message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#response-container.success {
    border-top: #b0dad3 2px solid;
    background: #e9fdfa;
}

#response-container.error {
    border-top: #c3b4b4 2px solid;
    background: #f5e3e3;
}

.img-response {
    margin-bottom: 30px;
}

